<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="listajuegos"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar/Editar Videojuego</ion-title>
  </ion-toolbar>
</ion-header>


<ion-item>
  <ion-label position="floating"> Título </ion-label>
  <ion-input [(ngModel)]="juego.titulo"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating"> Categoría </ion-label>
  <ion-input [(ngModel)]="juego.categoria"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating"> Fecha Inicio Juego </ion-label>
  <ion-datetime [(ngModel)]="juego.inicio" displayFormat="D M YYYY" min="1990-01-01" max="2050-12-31"></ion-datetime>
</ion-item>

<ion-list>
  <ion-item>
    <ion-label>Plataforma</ion-label>
    <ion-select interface="popover" [(ngModel)]="juego.plataforma">
      <ion-select-option value="Playstation">PlayStation</ion-select-option>
      <ion-select-option value="Playstation 2">Playstation 2</ion-select-option>
      <ion-select-option value="Playstation 3">PlayStation 3</ion-select-option>
      <ion-select-option value="Playstation 4">PlayStation 4</ion-select-option>
      <ion-select-option value="Playstation 5">PlayStation 5</ion-select-option>
      <ion-select-option value="Xbox">Xbox</ion-select-option>
      <ion-select-option value="Xbox One">Xbox One</ion-select-option>
      <ion-select-option value="Xbox Series">Xbox Series</ion-select-option>
      <ion-select-option value="Nintendo 3DS">Nintendo 3DS</ion-select-option>
      <ion-select-option value="Nintendo DS">Nintendo DS</ion-select-option>
      <ion-select-option value="Nintendo Switch">Nintendo Switch</ion-select-option>
      <ion-select-option value="Nintendo Wii">Nintendo Wii</ion-select-option>
      <ion-select-option value="PC">PC</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<ion-item>
  <ion-label>Nota juego</ion-label>
  <ion-range min="0" max="10" pin color="secondary" [(ngModel)]="juego.nota" >
    <ion-icon slot="start" name="heart"></ion-icon>
  </ion-range>
</ion-item>

<ion-item>
  <ion-label>Completado</ion-label> 
  <ion-toggle slot="start" name="blueberry" [(ngModel)]="juego.completado"></ion-toggle>
</ion-item>

<ion-button (click)="saveJuego()" expand="block" fill="clear" shape="around">
  Guardar  
</ion-button>